.MContent-container{
  width: 800px;
  height: 600px;
  margin: 0 auto;
  background-color: #4a148c;
  background: linear-gradient(#9475BC, #4a148c);
  padding: 5px;
  box-shadow: 0 0 5px #000000;
}
.MInner-container{
  width: 750px;
  height: 550px;
  margin: auto;
  margin-top: 25px;
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  border-radius: 15px;
}
.M-container{
  padding-top: 10px;
}

.Mypage-container1 {
  height: 200px;

}
.Mypage-container2 {
  height: 200px;

}