.mypage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .mypage-table {
    width: 500px;
    text-align: center;
  }
  
  .mypage-table th,
  .mypage-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .mypage-table th {
    background-color: #f2f2f2;
  }