.reservation-list-container{
    margine-top:20px;
}
.info{
    display:flex;
    justify-content: center;

}
.reservation-table {
    border-collapse: collapse;
    width: 100%;
}

.reservation-table th,
.reservation-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.reservation-table th {
    background-color: #f2f2f2;
}
.date-select{
    width: 120px;
    height:50px;

}